.modal {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;
}

.modalcontent {
  background: white;
  border-radius: 5px;
  width: 48%;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  -ms-overflow-style: none;
  overflow-y: auto;
  position: relative;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modalcontent::-webkit-scrollbar {
  display: none;
}
