$primary-text-color: #313131;
$secondary-text-color: #616161;

.bookingSummary {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 50px;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: $primary-text-color;
}

.sectionHeading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  text-transform: capitalize;
  color: $secondary-text-color;
}

@media (max-width: 768px) {
  .sectionHeading {
    margin-top: 20px;
  }
}

.secondaryText {
  color: $secondary-text-color;
}

.primaryText {
  color: $primary-text-color;
}

.cardContent {
  padding: 20px 40px;
}

.priceDetail {
  .section:not(:first-child) {
    margin-top: 20px;
  }
  .sectionRow {
    display: flex;
    span {
      display: block;
      width: 50%;
    }
    span:last-child {
      text-align: right;
    }
  }
  .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
  }
  .subHeading {
    color: $secondary-text-color;
    font-size: 16px;
  }
  .cardFooter {
    display: flex;
    background-color: rgba(234, 114, 91, 0.2);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    border-radius: 0px 0px 5px 5px;
    div {
      width: 50%;
      margin: 10px 40px;
    }
    div:last-child {
      text-align: right;
    }
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.bookingDetail {
  height: 100%;
}
