.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
}

.travelPortsList {
  padding: 0;
  list-style: none;
}

.travelPortsListItem {
  display: inline;
  border-right: 1px solid #919191
}

.travelPortsListSpan {
  margin: 0 10px;
}

.travelPortsListLastItem {
  display: inline;
}

.travelDateFirstItem {
  margin: 10px 10px 10px 0px;
}
.travelDateItems {
  margin: 10px;
}
