img{
    max-width: 100%;
}
.container{
    max-width: 1240px;
}
.btn:focus{
    box-shadow: none;
}
.full--bgcard-view {
    background-repeat: no-repeat;
    background-position: -60px 53px;
    padding: 40px;
    min-height: 338px;
}
.package--choose-txt {
    width: 70%;
    margin-left: auto;
}
.package--choose-txt h3 {
    font-size: 26px;
    font-weight: 700;
    color: #313131;
}
.package--choose-txt p {
    color: #616161;
    font-size: 18px;
    font-weight: 400;
}
.pricedtl--title {
    font-size: 24px;
    font-weight: 700;
}
.table.tableprice--dtl {
    margin-bottom: 40px;
}
.tableprice--dtl td {
    border: 0;
    padding: 5px 0px;
    font-size: 17px;
    color: #313131;
    vertical-align: middle;
}
.tr-bookview td:last-child {
    text-align: right;
}
.tr-bookview.bnm td {
    padding-top: 10px;
}
.tr-bookview .extra--book-td {
    font-size: 24px;
    font-weight: 700;
}
.btn-proceed {
    background: #EA725B;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    min-width: 150px;
}
.btn-proceed:hover{
    color: #fff;
}
.heading-h3 {
    font-size: 36px;
    font-weight: 400;
}
.nav-tab-pills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}
.nav-items--main {
    display: inline-block;
    margin-right: 20px;
}
.nav-items--main .navLink--tab{
    color: #616161;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #616161;
    padding: 5px 39px;
    border-radius: 10px;
    display: inline-block;
}
.nav-items--main.active .navLink--tab{
    background: #500E4B;
    color: #fff;
}
.subtab--title {
    font-size: 24px;
    font-weight: 700;
}
.row-grid-List {
    background: #FFFFFF;
    box-shadow: 0px 9px 20px #0000000d;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}
.image--slide-widgit {
    height: 100%;
}
.image--slide-widgit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inclusin-flex--wrapContent {
    padding: 30px 60px 30px 30px;
}
.topHead--excurr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}   
.topHead--excurr h4 {
    font-size: 18px;
    font-weight: 700;
    color: #313131;
    margin-bottom: 0;
}
.topHead--excurr p {
    font-size: 18px;
    font-weight: 500;
    color: #616161;
    flex: 1;
    line-height: normal;
    padding-left: 15px;
    margin-bottom: 0;
}
.disc-exccur-txt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
}
.disc-exccur-txt {
    margin-bottom: 30px;
}
.bottom-view--transf {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.bottom-view--transf .leftSide--tranitem, .bottom-view--transf .rightRemove--btn{
    flex: 1;
}
.leftSide--tranitem ul {
    list-style: none;
    padding-left: 0;
}
.leftSide--tranitem ul li {
    font-size: 16px;
    color: #313131;
    margin-bottom: 5px;
}
.leftSide--tranitem ul li span {
    color: #616161;
    display: inline-block;
    margin-left: 10px;
}
.rightRemove--btn {
    text-align: right;
}
.btn-remove {
    background-color: #b1b1b1;
    color: #fff;
    width: 150px;
}
.btn-add{
    background-color: #EA725B;
    color: #fff;
    width: 150px;
}
.btn-remove:hover, .btn-add:hover{
    color: #fff;    
}
.package-col-Img {
    position: relative;
}
.package--name-posit {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 0px 30px;
}
.package--name-posit .package--title{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0px;
}























