.siteHeader a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.siteHeader {
  background: #500e4b;
  // background: rgba(0, 0, 0, 0.5);
  padding: 16px 32px;
}

.siteHeader::after {
  content: "";
  display: table;
  clear: both;
}

.siteIdentity {
  float: left;
}

.siteIdentity h1 {
  font-size: 1.5em;
  margin: 0.7em 0 0.3em 0;
  display: inline-block;
}

.siteIdentity img {
  position: absolute;
  height: 90px;
  max-width: 90px;
  float: left;
  margin: 0 10px 0 0;
}

.siteNavigation {
  float: right;
}

.siteNavigation ul,
li {
  margin: 0;
  padding: 0;
}

.siteNavigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}
